<div style="height: 100px;"></div>
<div class="ui container">
	<div class="ui segment">
		<h2 class="ui header">Select a Port</h2>
		{{#if portLoader.loading}}
			<div class="ui active inverted dimmer">
				<div class="ui text loader">Loading Ports</div>
			</div>
			<div style="height: 150px;"></div>
		{{else}}
			{{#if portLoader.result}}
				{{#each portLoader.result as |portName|}}
					<div style="padding-bottom: 5px;">
						<button class="ui basic primary button" {{action 'interact' portName}}>
							Use {{portName}}
						</button>
					</div>
				{{/each}}
			{{else}}
				<div class="ui icon warning message">
					<i class="warning icon"></i>
					
					<div class="content">
						<div class="header">No Ports Available</div>
						<p>There are no serial ports available to connect to. If you would like to simulate the Logic LID click the "Simulate Port" button below.</p>
						<button class="ui mini button" {{action 'simulate'}}>Simulate Port</button>
					</div>
				</div>
			{{/if}}

			<button class="ui primary button" {{action 'reloadPorts'}} disabled={{portLoader.loading}}><i class="ui refresh icon">
				</i> Refresh Ports
			</button>
		{{/if}}
	</div>
</div>