{{#if openLoader.loading}}
	<div class="ui icon message">
		<i class="notched circle loading icon"></i>
		<div class="content">
			<div class="header">Opening LID Bus</div>
			<p>The LID Bus serial port is being openend...</p>
		</div>
	</div>
{{else}}
	<div class="ui container">
		<div class="ui basic segment">
			<h2 class="ui header">
				{{#if isRunMode}}
					<i class="ui loading refresh icon"></i>
				{{else}}
					<i class="ui cubes icon"></i>
				{{/if}}
				{{mode}} Mode
			</h2>
			<button class="ui primary button" {{action 'toggleModes'}}>
				Switch to {{nextMode}} Mode
			</button>
		</div>

		<div class="ui green segment">
			<h2 class="ui header">Connected Devices</h2>
			{{log connectedDevices}}
			<div class="ui cards">
				{{#each connectedDevices as |device|}}
					<div class="card">
						<div class="content">
							<div class="header">{{device.typeName}}</div>
							<div class="meta">Location {{device.address}}</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>


		{{partial 'lidMessages'}}
	</div>
{{/if}}

<div class="ui hidden divider"></div>