<div class="ui orange segment">
	<h3 class="ui header">Bus Messages</h3>
	<div style="height: 475px; overflow-y: scroll">
		<table class="ui very basic table">
			<thead>
				<tr>
					<th>Event</th>
					<th>Timestamp</th>
					<th>Details</th>
				</tr>
			</thead><tbody>
				{{#each debugMessages as |message|}}
					<tr>
						<td><span class="ui {{message.color}} label">{{message.eventName}}</span></td>
						<td>{{message.time}}</td>
						<td>{{partial message.infoTemplate}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>